/* ==================================================
  MAIN LAYOUT
================================================== */
.main-wrap {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: 16px;
  box-sizing: border-box;
}

/* ==================================================
  TOPBAR
================================================== */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--background);
  z-index: 10;
}

.topbar-bg {
  width: 100%;
  height: 135px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 25%;
}

.logo-bar {
  width: 100%;
  max-width: 1440px;
  padding: 5px 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr {
  border: 1px solid var(--border-default);
}

.item-logo {
  display: flex;
  align-items: center;
}

.img-logo {
  width: 50px;
  height: 50px;
}

.desk-logo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  line-height: 1 !important;
}

.nama-halaman {
  font-size: 16px;
  font-weight: 600;
}

.nama-univ {
  font-size: 24px;
  font-weight: 700;
}

.icon-menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.menu-dropdown {
  position: relative;
}

.list-icon-menu {
  font-size: 16px;
  color: var(--text);
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.bendera-icon {
  width: 20px;
  height: 10px;
  margin-right: 10px;
}

.nama-bahasa {
  font-weight: bold;
}

.deskripsi-user {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.role-user,
.nama-sistem {
  font-size: 12px;
  font-weight: bold;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: 0;
  min-width: 180px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: 0.2s ease;
  z-index: 999;
}

.dropdown-menu a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #344054;
  border-radius: 6px;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background: var(--hover);
  color: var(--primary);
}

.menu-dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Menu Bar */
.menu-bar {
  width: 100%;
  max-width: 1440px;
  padding: 5px 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.menubar-item {
  position: relative;
}

.aktif {
  border-bottom: 1px solid var(--primary);
}

.aktif .list-icon-menu {
  font-weight: bold;
}

.list-icon-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #344054;
  border-radius: 8px;
  transition: 0.2s;
  white-space: nowrap;
}

.list-icon-menu:hover {
  background: var(--hover);
  font-weight: bold;
}

.dropdown-menubar {
  position: absolute;
  top: 110%;
  left: 0;
  min-width: 180px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: 0.2s ease;
  z-index: 999;
}

.dropdown-menubar a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #344054;
  border-radius: 6px;
  font-size: 14px;
}

.dropdown-menubar a:hover {
  background: var(--hover);
  color: var(--primary);
}

.has-dropdown:hover .dropdown-menubar {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menubar {
  transform: translateY(6px) scale(0.98);
}

.has-dropdown:hover .dropdown-menubar {
  transform: translateY(0) scale(1);
}

/* ==================================================
  MAIN KONTEN
================================================== */
.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 145px;
}

.head-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nama-menu-aktif {
  font-size: 24px;
  font-weight: bold;
}

.icon-btn {
  margin-right: 5px;
}

/* ==================================================
  PETUNJUK
================================================== */
.hidden {
  display: none;
}

.blok-petunjuk {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 135px;
  border-radius: 20px;
  background: var(--primary);
}

.background-img {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  border-radius: 20px;
  object-fit: cover;
  height: 135px;
  opacity: 25%;
  z-index: 1;
}

.tombol-akses {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-wrapper {
  width: 100%;
  max-width: 320px;
  font-family: "Segoe UI", sans-serif;
}

.custom-select {
  position: relative;
  width: 100%;
}

.select-trigger {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
}

.select-trigger:hover {
  border-color: #4caf50;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.arrow {
  width: 5px;
  height: 5px;
  border-right: 2px solid #777;
  border-bottom: 2px solid #777;
  transform: rotate(45deg);
  transition: 0.3s;
  margin-left: 10px;
}

.custom-select.active .arrow {
  transform: rotate(-135deg);
}

.select-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 99;
}

.custom-select.active .select-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.select-option {
  padding: 12px 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.select-option:hover {
  background-color: #f3f4f6;
  padding-left: 20px;
}

.fitur-petunjuk {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 97%;
  margin: 20px;
  z-index: 2;
}

.title-petunjuk {
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: var(--background);
}

.card-small {
  width: auto;
  height: 75px;
  border-radius: 10px;
  padding: 10px;
  background: var(--background);
}

.head-card-small {
  display: flex;
  align-items: center;
}

.icon-hcs,
.judul-hcs {
  font-size: 12px;
}

.icon-hcs {
  background: var(--info-text);
  color: var(--background);
  padding: 3px;
  border-radius: 3px;
  margin-right: 5px;
}

.judul-hcs {
  font-weight: bold;
}

.body-card-small {
  margin: 10px 0;
}

.progress-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-progress,
.text-belum-mulai {
  font-size: 10px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background: var(--progress);
  margin-bottom: 10px;
}

.footer-card-small {
  border-top: 2px solid var(--border-default);
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.badge-mulai {
  font-size: 12px;
  text-align: end;
  color: var(--info-text);
  font-weight: bold;
}

/* ==================================================
  STATISTIK
================================================== */
.statistik {
  width: 100%;
  max-height: 1440px;
  height: 200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.flex-kolom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-medium {
  width: 100%;
  max-width: 300px;
  max-height: 160px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.icon-stat {
  position: absolute;
  bottom: 9px;
  left: 0;
  font-size: 100px;
  border-radius: 50%;
  opacity: 25%;
  z-index: 0;
}

.desk-stat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.judul-stat,
.sub-stat,
.number-stat {
  color: var(--background);
}

.judul-stat,
.sub-stat {
  font-size: 18px;
  font-weight: 500;
}

.number-stat {
  font-size: 36px;
  font-weight: bold;
}

/* ==================================================
  CHART STATISTIK
================================================== */
.chart-stat {
  width: 100%;
  max-width: 1440px;
  max-height: 600px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 900px 1fr;
  gap: 20px;
}

.stat-periode {
  width: 100%;
  max-width: 900px;
  max-height: 600px;
  background: var(--background);
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--border-default);
  border-right: 2px solid var(--border-default);
  border-bottom: 2px solid var(--border-default);
}

.informasi-akademik {
  width: 100%;
  max-width: 540px;
  max-height: 600px;
  background: var(--background);
  border-top: 2px solid var(--secondary);
}
