/* ===============================
    Desktop / Laptop
=============================== */
@media (min-width: 1281px) {
}

@media (max-width: 1024px) {
}

/* ===============================
    Tablet
=============================== */
@media (max-width: 912px) {
}

@media (max-width: 853px) {
}

@media (max-width: 820px) {
}

@media (max-width: 768px) {
  .main-wrap {
    max-width: 768px;
  }

  .box-login {
    max-width: 768px;
  }

  .form-login {
    margin-left: 320px;
    max-width: 280px;
  }
}

@media (max-width: 540px) {
  .main-wrap {
    max-width: 540px;
  }

  .box-login {
    max-width: 540px;
  }

  .item-login {
    max-width: 540px;
  }

  .slide-login {
    max-width: 220px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10px;
  }

  .slide-login::before {
    left: 216px;
  }

  .slide-login::after {
    left: 220px;
  }

  /* ==================================================
  Form Login
================================================== */
  .form-login {
    margin-left: 220px;
    max-width: 200px;
  }

  .judul-head {
    font-size: 18px;
  }

  .deskripsi {
    font-size: 10px;
  }

  .divider {
    font-size: 12px;
  }

  .form-group label {
    font-size: clamp(12px, 1vw, 12px);
  }

  .form-input {
    font-size: clamp(12px, 1vw, 12px);
  }

  .lupa-sandi {
    margin: 10px 0;
  }

  .btn-masuk,
  .btn-kembali {
    font-size: 12px;
  }
}

/* ===============================
    Android / Iphone
=============================== */
@media (max-width: 430px) {
  .main-wrap {
    max-width: 430px;
  }

  .item-login {
    grid-template-columns: 1fr;
  }

  .slide-login {
    max-width: 250px;
    height: 70px;
    left: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 10px;
    align-items: start;
  }

  .slide-login::before {
    left: 250px;
  }

  .slide-login::after {
    left: 250px;
  }

  .logo-white {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(1);
  }

  .sub-welcome {
    color: var(--background);
  }

  .welcome {
    display: none;
  }

  .m-mobile {
    display: none;
  }

  .sub-welcome {
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 14px;
    text-align: start;
  }

  .form-login {
    margin-left: 15px;
    max-width: 320px;
  }

  .head-form {
    margin-top: 50px;
  }
}

@media (max-width: 414px) {
  .main-wrap {
    max-width: 414px;
  }

  .form-login {
    margin-left: 15px;
    max-width: 300px;
  }
}

@media (max-width: 412px) {
  .main-wrap {
    max-width: 412px;
  }

  .item-login {
    grid-template-columns: 1fr;
  }

  .slide-login {
    max-width: 250px;
    height: 70px;
    left: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 10px;
    align-items: start;
  }

  .slide-login::before {
    left: 250px;
  }

  .slide-login::after {
    left: 250px;
  }

  .logo-white {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(1);
  }

  .sub-welcome {
    color: var(--background);
  }

  .welcome {
    display: none;
  }

  .m-mobile {
    display: none;
  }

  .sub-welcome {
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 14px;
    text-align: start;
  }

  .form-login {
    margin-left: 15px;
    max-width: 300px;
  }

  .head-form {
    margin-top: 50px;
  }
}

@media (max-width: 390px) {
  .main-wrap {
    max-width: 390px;
  }

  .form-login {
    margin-left: 15px;
    max-width: 290px;
  }
}

@media (max-width: 375px) {
  .main-wrap {
    max-width: 375px;
  }

  .form-login {
    margin-left: 15px;
    max-width: 275px;
  }
}

@media (max-width: 360px) {
  .main-wrap {
    max-width: 360px;
  }

  .form-login {
    margin-left: 10px;
    max-width: 270px;
  }
}

@media (max-width: 344px) {
  .main-wrap {
    max-width: 344px;
  }

  .item-login {
    grid-template-columns: 1fr;
  }

  .slide-login {
    max-width: 200px;
  }

  .slide-login::before {
    left: 196px;
  }

  .slide-login::after {
    left: 200px;
  }

  .welcome {
    display: none;
  }

  .m-mobile {
    display: none;
  }

  .sub-welcome {
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 12px;
    text-align: start;
  }

  .form-login {
    margin-left: 10px;
    max-width: 260px;
  }

  .head-form {
    margin-top: 50px;
  }

  .judul-head {
    font-size: 20px;
  }

  .deskripsi {
    font-size: 11px;
  }
}
