/* ==================================================
  Aset Login
================================================== */
.box-daftar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 740px;
  height: 350px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-daftar {
  width: 90%;
  max-width: 700px;
  height: 280px;
  background: var(--hover);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(16, 24, 40, 0.05);
}

.slide-daftar {
  width: 90%;
  max-width: 300px;
  height: 320px;
  background: var(--primary);
  position: absolute;
  top: -20px;
  left: -20px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 70%;
  border-top-left-radius: 10%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slide-daftar::before {
  content: "";
  position: absolute;
  left: 296px;
  top: 0;
  width: 50px;
  height: 20px;
  background: var(--primary);
  transform-origin: right;
  border-top-right-radius: 20px;
  z-index: -1;
}

.slide-daftar::after {
  content: "";
  position: absolute;
  left: 300px;
  top: 0;
  width: 25px;
  height: 20px;
  background: linear-gradient(90deg, #0d580d, var(--primary)) transparent;
  transform-origin: right;
  border-top-left-radius: 100%;
  z-index: -1;
}

.logo-white {
  width: 80px !important;
  height: 80px !important;
  filter: brightness(0) saturate(100%) invert(1);
}

.welcome {
  font-size: 16px !important;
}

.sub-welcome {
  width: 75% !important;
  font-size: 12px !important;
}
