/* =========================
  Color Palette
========================= */
:root {
  --primary: #138d14;
  --secondary: #b7d1c4;

  /* State Colors */
  --danger-bg: #fdecec;
  --danger-text: #b42318;
  --danger-border: #f5b7b1;

  --warning-bg: #fff6e5;
  --warning-text: #9a6700;
  --warning-border: #ffd98e;

  --info-bg: #e8f2ff;
  --info-text: #1d4ed8;
  --info-border: #bfdbfe;

  /* Layout Colors */
  --background: #f8f7f8;
  --sidebar: #2a8757;
  --hover: #edf3f0;
  --topbar: #edf3f0;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(16, 24, 40, 0.05);
  --shadow-md: 0 4px 8px rgba(16, 24, 40, 0.08);
  --shadow-lg: 0 12px 24px rgba(16, 24, 40, 0.12);

  /* Borders */
  --border-default: #e4e7ec;
  --border-subtle: #f0f2f5;

  --border-dark-default: #2e3440;
  --border-dark-subtle: #848892;
  --progress: #c4c4c48c;
  --border-dark-danger: #7a2e2e;
  --border-dark-warning: #6b4e1e;
  --border-dark-info: #1f3a5f;

  /* Text */
  --text: #000;

  --overlay: rgba(0, 0, 0, 0.6);

  /* Font Style */
  --font-main:
    "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* =========================
   Font Weight
========================= */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.fs-normal {
  font-style: normal;
}
.fs-italic {
  font-style: italic;
}

/* =========================
  Color Style
========================= */
.b-1 {
  background: var(--primary);
}

.lgb-1 {
  background: linear-gradient(45deg, var(--primary), #29df29);
}

.b-2 {
  background: var(--danger-text);
}

.lgb-2 {
  background: linear-gradient(45deg, var(--danger-text), #f84538);
}

.b-3 {
  background: var(--warning-text);
}

.lgb-3 {
  background: linear-gradient(45deg, var(--warning-text), #f1b02d);
}

.b-4 {
  background: var(--info-text);
}

.lgb-4 {
  background: linear-gradient(45deg, var(--info-text), #5a82f1);
}

.c-1 {
  color: var(--primary);
}

.c-2 {
  color: var(--danger-text);
}

.c-3 {
  color: var(--warning-text);
}

.c-4 {
  color: var(--info-text);
}

/* =========================
   Global Style
========================= */
body {
  font-family: var(--font-main);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--background, #ffffff);
  color: var(--text, #111111);
}

a {
  text-decoration: none;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / Edge lama */
body {
  -ms-overflow-style: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-info,
.btn-download,
.btn-detail {
  padding: 8px 18px;
  border: 0;
  border-radius: 10px;
  background: var(--info-text);
  color: var(--background);
  white-space: nowrap;
}

.btn-simpan {
  padding: 8px 18px;
  border: 0;
  border-radius: 10px;
  background: var(--primary);
  color: var(--background);
  white-space: nowrap;
}

.btn-filter {
  padding: 8px 18px;
  border: 0;
  border-radius: 10px;
  background: var(--info-border);
  color: var(--text);
  white-space: nowrap;
}

.btn-absen {
  padding: 8px 18px;
  border: 0;
  border-radius: 10px;
  background: var(--primary);
  color: var(--background);
  white-space: nowrap;
}

.btn-kembali {
  padding: 8px 18px;
  border: 0;
  border-radius: 10px;
  background: var(--info-border);
  color: var(--text);
  white-space: nowrap;
}

.badge-danger,
.badge-warning,
.badge-info,
.badge-download {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  margin: 0 5px;
  border: 0;
}

.badge-danger {
  background: var(--danger-text);
  color: var(--background);
}

.badge-warning {
  background: var(--warning-text);
  color: var(--background);
}

.badge-info {
  background: var(--info-text);
  color: var(--background);
}

.badge-download {
  background: var(--secondary);
  color: var(--text);
}

.fw-15 {
  max-width: 216px;
}

.fw-25 {
  max-width: 360px;
}

.fw-50 {
  max-width: 720px;
}

.fw-70 {
  max-width: 1080px;
}
